In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
dataSetPath = "/Users/tesfashenkute/Downloads/Paid_Parking__Last_48_Hours_.csv"
ds = pd.read_csv(dataSetPath, nrows = 10000)

In [6]:
df = pd.DataFrame(ds)

In [7]:
df

,OccupancyDateTime,PaidOccupancy,BlockfaceName,SideOfStreet,SourceElementKey,ParkingTimeLimitCategory,ParkingSpaceCount,PaidParkingArea,PaidParkingSubArea,PaidParkingRate,ParkingCategory,Location
0,12/28/2020 11:19:00 AM,6,WESTLAKE AVE BETWEEN LENORA ST AND BLANCHARD ST,W,36141,240.0,8,Denny Triangle,North,NaN,Paid Parking,POINT (-122.33832365 47.61711289)
1,12/28/2020 11:54:00 AM,1,MARION ST BETWEEN BOREN AVE AND MINOR AVE,NW,11673,120.0,4,First Hill,NaN,NaN,Paid Parking,POINT (-122.32393114 47.60890535)
2,12/28/2020 01:30:00 PM,3,8TH AVE BETWEEN STEWART ST AND VIRGINIA ST,NE,31058,120.0,6,Denny Triangle,South,NaN,Paid Parking,POINT (-122.33591854 47.61540116)
3,12/28/2020 04:02:00 PM,3,CLAY ST BETWEEN WESTERN AVE AND 1ST AVE,SE,77574,240.0,14,Belltown,North,NaN,Paid Parking,POINT (-122.35191338 47.6159769)
4,12/28/2020 06:07:00 PM,3,5TH AVE BETWEEN LENORA ST AND BLANCHARD ST,NE,7262,120.0,7,Belltown,South,NaN,Paid Parking,POINT (-122.34104117 47.61494039)
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,12/29/2020 08:28:00 AM,4,QUEEN ANNE AVE N BETWEEN HARRISON ST AND REPUB...,W,12285,240.0,13,Uptown,Edge,NaN,Paid Parking,POINT (-122.35680987 47.62267511)
9996,12/29/2020 11:01:00 AM,2,MERCER ST BETWEEN MERCER SR ST AND MINOR AVE N,S,121340,600.0,2,South Lake Union,South,NaN,Paid Parking,POINT (-122.33342324 47.62422099)
9997,12/29/2020 09:47:00 AM,2,E PIKE ST BETWEEN 10TH AVE AND 11TH AVE,S,59962,120.0,7,Pike-Pine,NaN,NaN,Paid Parking,POINT (-122.3187867 47.61401857)
9998,12/29/2020 12:53:00 PM,1,BOYLSTON AVE BETWEEN E PINE ST AND E OLIVE ST,W,32177,120.0,5,Capitol Hill,South,NaN,Restricted Parking Zone,POINT (-122.32352842 47.61581966)
9999,12/29/2020 10:04:00 AM,2,8TH AVE N BETWEEN HARRISON ST AND REPUBLICAN ST,E,76202,120.0,3,South Lake Union,South,NaN,Paid Parking,POINT (-122.3409512 47.62266064)

In [13]:
dict = {'BlockFaceName': ["WESTLAKE AVE BETWEEN LENORA ST AND BLANCHARD ST"]}

In [15]:
WESTLAKEAVE = pd.DataFrame(dict)

In [16]:
for i , j in df.iterrows:
    WESTLAKEAVE.add(i, j)

TypeError: 'method' object is not iterable

In [12]:
WESTLAKEAVE

Empty DataFrame
Columns: []
Index: []